# Core functionality - changes here should be rare!
/src/app.py                   @arorashubham07
/src/backend/database.py      @arorashubham07
/src/backend/routers/auth.py  @arorashubham07

# The frontend will need refactored soon to be more object oriented.
/src/static/   @arorashubham07
